* {
  height: 99%;
  width: 99%;
}

body {
  background-color: gray;
  /*
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 254, 254, 0.2)),
     url(../assets/background_image_pc.png); 
  */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  display: flex; /* para conseguir modificar a box (destravar comandos como os dois a baixo) */
  flex-direction: column; /* estou colocando uma div (box-model a baixo do outro) */
  align-items: center; /* alinhando os itens na vertical */
  height: 200px;
}

h1 {
  display: flex;
  justify-content: center; /* alinhando os itens na horizontal */
  font-family: Arial black;
  font-size: 55px;
  color: white;
}

.background {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 80%;
  height: auto;
  margin-bottom: 50px;
}

h2 {
  color: #13c8b5;
  margin: 10px;
  font-size: 20px;
  font-family: Georgia;
}

h3 {
  font-size: 25px;
  margin: 0px 10px 20px;
  font-family: Georgia;
}

.alternative {
  text-align: initial; /* conteúdo textutal dentro da div */
  background-color: #e2f3f1;
  color: black;
  border: none;
  margin: 6px 5px 10px 16px;
  padding: 15px;
  width: 95%;
}

.alternative:hover {
  /* quando coloco " :hover " significa que estou querendo mudar quando o mouse estiver em cima */
  background-color: #c1ddda;
}

.button {
  background-color: #13c8b5;
  color: white;
  margin: 15px 16px 25px;
  border: none;
  border-radius: 5px;
  font-family: Georgia;
  padding: 15px 5px;
  width: 150px;
}

.button:hover {
  background-color: #11a899;
}

.imageIcon {
  display: flex;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

/* responsividade */

@media screen and (max-width: 700px) {
  .alternative {
    margin: 6px 10px 10px 10px;
  }
}

@media screen and (max-width: 450px) {
  .alternative {
    margin: 6px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 350px) {
  .alternative {
    margin: 6px 6px 4px;
  }
}
